<!--
Render a sign-in form that also contains a link to a sign-up form, in case
they do not already have an account.
-->

<% provide(:title, "Sign in") %>

<h1>Sign in</h1>
<div class = "row">
  <div class = "span6 offset3">
    <%= form_tag(sign_in_to_session_path) do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag 'Sign in', class: 'btn btn-large btn-primary' %>
    <% end %>

    <p>New User? <%= link_to 'Sign up now!', sign_up_path %></p>
  </div>
</div>